// Typography
// ==========
// Font sizes and families
//
// stylelint-disable indentation

// Font Families
// -------------
$font-fallbacks: (
        sans-serif: '-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif',
        serif: 'Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif'
);

$font-families: (
        primary: ("Roboto", #{(map-get($font-fallbacks, 'sans-serif'))}),
        secondary: ("Playfair Display", map-get($font-fallbacks, 'serif'))
) !default;
@font-face {
	font-family: 'BrandonMedium';
	src: url('/assets/fonts/Brandon_med.otf');
}
@font-face {
	font-family: 'Raleway-Regular';
	src: url('/assets/fonts/Raleway-Regular.ttf');
} 
@font-face {
	font-family: 'Brandon_reg';
	src: url('/assets/fonts/Brandon_reg.otf');
} 
@font-face {
	font-family: 'Brandon_bld';
	src: url('/assets/fonts/Brandon_bld.otf');
}  
@font-face {
	font-family: 'Brandon_light';
	src: url('/assets/fonts/Brandon_light.otf');
} 
@font-face {
	font-family: 'Raleway-Medium';
	src: url('/assets/fonts/Raleway-Medium.ttf');
} 
